#cpo{
    background-color: #8959FF;
} 
#cuerpo {
    margin:30px;
}

#link-aragon{
    font-family:'Times New Roman', Times, serif;
    color: #FFFFFF; 
    text-align: center;
    font-size: 40px;
}

#inicio{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}

#web2{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}